body{
  background-image: url("https://metofficenews.files.wordpress.com/2016/08/vc-northern-hemisphere.png");
  
}

.weatherApp{
  display: flex;
  justify-content: center;
  padding-top: 8%;
  
}

.cardWeather {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  width: 40%;
  background-color: gray;
  opacity: 0.9;
}

.encabezadoApp h1,h5{
  text-align: center;
  color: darkblue;
}

.descriptionWeather{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.descriptionWeather h3{
  text-align: center;
}

.imgDescription{
  width: 50%;
  padding: 0% 7% 0 0;
  margin: 0;
  align-items: flex-start;
}

.imgDescription img{
  width: 80%;
}

.temperature{
  padding-left: 2rem;
}

.button{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.button button{
  background-color: green;
  border-radius: 5px;
  color: white;
  height: 30px;
}


